<div class="modal" id="deleteRestaurantsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="deleteRestaurantsForm" class="needs-validation" method="post" novalidate></form>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <input id="deleteRestaurantName" type="text" class="form-control" required>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <p>Are you sure you want to delete this restaurant?</p>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Delete restaurant</button>
                        <button type="submit" class="btn btn-primary float-left" data-dismiss="modal" aria-label="Close" >Close</button>
                    </div>
            </div>
        </div>
    </form>
    </div>
</div>