<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header %>
</head>

<body>
    <div class="ratings">
        <form action="/postRating" method="post">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </form>
    </div>
</body>

</html>