body,
html,
.container-fluid {
  height: 100%;
}

.center {
  margin: 0 auto;
}

img {
  width: 100%;
}

.ratings>.hover {
  color: yellow;
}

.ratings>.checked {
  color: orange;
}

.pointer {
  cursor: pointer;
}